{% extends 'main/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <img src="{{ product.image.url }}" class="img-fluid rounded-3" alt="{{ product.name }}">
    </div>
    
    <div class="col-md-6">
        <h1 class="display-5">{{ product.name }}</h1>
        <p class="lead">{{ product.price }} ₽</p>
        
        <div class="d-grid gap-2">
            <button class="btn btn-primary btn-lg">
                <i class="bi bi-cart-plus"></i> Добавить в корзину
            </button>
        </div>
        
        <div class="mt-4">
            <h4>Описание</h4>
            <p class="text-muted">{{ product.description }}</p>
        </div>
    </div>
</div>
{% endblock %}